@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 48px 48px 48px 48px 48px
}