@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
* {
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}